export HOST=123.123.123.123
export USERNAME=master
export PASSWORD=ofuniversum
export param_value="200"
export param='
{
    "dev_id": 1,
    "dev_type": 21,
    "param_type":2,
    "dev_code": 9264,
    "param_addr": 31223,
    "type": 7,
    "param_num": 1
}
'